.card {
  margin: 1em;
  width: 100%;
  height: auto;
  min-height: 7.4em;
  border-radius: 5px;
  border: none;
  transition: all 0.3s ease;
}
.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card ul {
  list-style: none;
}

.card li {
  font-size: 2em;
}

@media only screen and (max-width: 600px) {
  .card {
    padding: none;
  }
}
