.Login-button {
  border: none;
  background-color: #c0c0;
  color: #b7b7b7;
  /*background-color: #b7b7b7; */
  font-weight: 900;
  font-size: 1.5em;
  border-radius: 5px;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 5px;
}

.right-menu {
  align-items: center;
  justify-content: flex-end;
}
