
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #fff;
  /* --card-background-color: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); */

    


  --btn-color: hsla(0, 0%, 2%, 1);
  --text-primary: hsla(0, 0%, 100%, 1);
  --text-secondary: hsla(0, 0%, 83%, 1);
  --border-color: white;
  /* --card-shadow:4px 7px 19px rgba(168, 44, 210, 0.56); */
}


/* body {
  background: var(--background);
  color: var(--text-primary);
  font-family: "Montserrat", sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
  line-height: 2rem;
  text-align: center;
} */

.card-image {
  width:100%;
  height:100%;
  border-bottom-left-radius:20px;
  border-top-right-radius:20px;
  box-shadow:0 2px 3px rgba(0,0,0,0.5);
  mix-blend-mode: darken;
  
  
}
#card {
  padding: 1rem;
  width: 300px;
  height: 500px;
  background: var(--card-background-color);
  border:2px solid var(--border-color);
  border-radius:20px;
  box-shadow:var( --card-shadow);
}

.card .card-title{
  font-size:1.8rem;
  font-weight:bold;
  margin-top:0.5rem;
  list-style: none;
}
.card .card-subtitle{
  color:var(--text-secondary);
  font-size:0.9rem;
  margin-bottom:5px;
}
.card .social-links a{
  color:white;
  text-decoration: none;
  padding:0.5rem;
}

.card .social-links #icon{
  width:1.2rem;
  transition:transform 0.3s ease-in-out;
}
.social-links #icon:hover{
  transform:translatey(-5px);
}


.card .learn-btn button{
  background:var(--btn-color);
  padding:0.7rem 2.5rem;
  font-size:15px;
  color:var(--text-primary);
  border-radius:8px;
  border:none;
  cursor:pointer;
  font-weight:600;
  letter-spacing:1px;
  margin-top:0.2rem;
}




